<div class='container-fluid'>  
  <div class='col-12'>  
      <ngb-carousel>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/Ted_on_Rocks_David_Travis.jpg" alt="Ted on Rocks near the Point by David Travis"> 
              <div class="carousel-caption">  
                  <!-- <h3 style="color: yellow">Delhi Metro</h3>   -->
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/David_Travis_Bird_over_Horizon.jpg" alt="Bird Flies over Lake Michigan by David Travis">  
              <div class="carousel-caption">  
                  <!-- <h3 style="color: yellow">Bangalore Metro</h3>   -->
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/Ted_Swim_Study_1960s.jpg" alt="Ted Participates in Swim Study from Chicago Tribune">  
              <div class="carousel-caption">  
                  <!-- <h3 style="color: yellow">Channai Metro</h3>   -->
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/David_Travis_Rose_Horizon.jpg" alt="Jaipur Metro">  
              <div class="carousel-caption">  
                  <!-- <h3 style="color: yellow">Jaipur Metro</h3>   -->
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/Ted_Erikson_Lake_Michigan.jpg" alt="Ted Erikson Becomes First Person to Swim Lake Michigan"> 
              <div class="carousel-caption">  
                  <!-- <h3 style="color: yellow">Mumbai Metro</h3>   -->
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/SE_Farallon_Island.jpg" alt="SE Farallon Island"> 
              <div class="carousel-caption">  
                  <!-- <h3 style="color: yellow">Mumbai Metro</h3>   -->
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/Ted_Erikson_90.jpg" alt="Ted Erikson Turned 90 in 2018"> 
              <div class="carousel-caption">  
                  <!-- <h3 style="color: yellow">Mumbai Metro</h3>   -->
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/10-30-20_Lake_Michigan_David_Travis.jpg" alt="Lake Michigan Skyline October 30, 2020"> 
              <div class="carousel-caption">  
                  <!-- <h3 style="color: white">Mumbai Metro</h3>   -->
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/Ted_Wing_Span_David_Travis.jpg" alt="Ted Spreads His Arms While Standing in Water"> 
              <div class="carousel-caption">  
                  <!-- <h3 style="color: yellow">Mumbai Metro</h3>   -->
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/Images/David_Travis_Horizon_Early_Morning.jpg" alt="Lake Michigan Horizon at Sunrise by Photographer David Travis"> 
              <div class="carousel-caption">  
                  <!-- <h3 style="color: yellow">Mumbai Metro</h3>   -->
              </div>  
          </ng-template>  
      </ngb-carousel>  
  </div>  

</div>  