<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
    <div>Ted Answers Posts Management</div>
    <span class="nav-tool-items">
      <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
    </span>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
      [fixedTopGap]>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/add-post">
          <mat-icon>add</mat-icon> Add Post
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/books-list">
          <mat-icon>format_list_bulleted</mat-icon> View Posts
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main content -->
    <mat-sidenav-content>
      <posts-list></posts-list>
    </mat-sidenav-content>
  </mat-sidenav-container>