<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Add Post</h1>
  <mat-divider fxFlex="1 0"></mat-divider> 
</div>

<!-- Post form -->
<div class="inner-wrapper">
  <form [formGroup]="postForm" (ngSubmit)="submitPost()" #resetPostForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card class="example-card">
      <div class="controllers-wrapper">
  
        <!-- Post name -->
<mat-card-header>
        <mat-form-field class="example-full-width" width=200px>
          <input matInput placeholder="Title" formControlName="title">
          <mat-error *ngIf="handleError('title', 'required')">
            You must provide a<strong>title!</strong>
          </mat-error>
        </mat-form-field>
</mat-card-header>
<br>
        <!-- Question Author -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Question Author" formControlName="question_author">
          <mat-error *ngIf="handleError('question_author', 'required')">
            You must provide a <strong>question author!</strong>
          </mat-error>
        </mat-form-field>
<br>

 <!-- Question -->
  <textarea rows="5" md-select-on-focus></textarea>
  <input matInput placeholder="Question" formControlName="question">
  <mat-error *ngIf="handleError('question', 'required')">
    You must provide a <strong>question!</strong>
  </mat-error>
<br> 
   <!-- Answer -->
   <textarea ng-model="user.biography" rows="15" md-select-on-focus></textarea>
      <input matInput placeholder="Answer" formControlName="answer">
      <mat-error *ngIf="handleError('answer', 'required')">
        You must provide an <strong>answer!</strong>
      </mat-error>   
<br>
  <!-- Signature -->
  <textarea class="signature" ng-model="user.biography" rows="3" md-select-on-focus></textarea>
      <input matInput placeholder="Signature" formControlName="signature">
      <mat-error *ngIf="handleError('signature', 'required')">
        You must provide a <strong>signature!</strong>
      </mat-error>
<br>          
    
    <!-- Publication date -->
    <mat-form-field>
      <input matInput readonly [matDatepicker]="picker" placeholder="Publication Date"
        formControlName="publication_date" (dateChange)="formatDate($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="handleError('publication_date', 'required')">
        Publication date is required!
      </mat-error>
    </mat-form-field>
  </div>
</mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
          <button mat-flat-button color="warn" (click)="resetForm()">Clear</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
